

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #c0392b;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.page-content,
.page-footer {
  padding: 1.5rem 0;
}

.page-content {
  background: #f1e9cd;
  padding-top: 7rem;
}

.page-footer {
  line-height: 1.5;
  text-align: center;
}

.form-result {
  font-size: 1.3em;
  margin-bottom: 2rem;
  text-align: center;
}

.form-result__version {
  white-space: nowrap;
}

.hero {
  margin-bottom: 2rem;
}

.hero h1 {
  margin-bottom: 0.65em;
}

.hero.env-text p {
  font-size: 1.4em;
  line-height: 1.4;
}


/* Envision overrides */

.env-text--p,
.env-text p,
p.env-text {
  font-size: 1.2em;
}

.env-text,
.env-text a {
  color: #34495e;
}

.env-text a {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

.env-text a:focus,
.env-text a:hover {
  border-bottom-color: #000;
}

a.env-color--lightest {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

a.env-color--lightest:focus,
a.env-color--lightest:hover {
  border-bottom-color: #fff;
}

.env-button--primary {
  background-color: #2980b9;
  border-color: #2980b9;
}

.env-button--primary:active,
.env-button--primary:hover {
  background-color: #3498db;
}

.env-form-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px #3498db;
}

.env-form-element__label {
  font-weight: 700;
}

.env-form-element__help {
  font-size: 1em;
}


/* Responsive */

@media screen and (max-device-width: 800px) {
  html {
    font-size: 30px;
  }

  .container {
    max-width: 100%;
  }

  .page-content {
    padding-top: 2rem;
  }

  .env-text h1 {
    font-size: 3em;
  }

  .env-text a {
    border-bottom-width: 8px;
  }

  .env-text p {
    line-height: 1.6;
  }

  .env-form-element {
     margin-bottom: 3em;
  }

  .env-form-element__label {
    font-size: 1.5em;
  }

  .env-form-element__help {
    line-height: 1.4;
  }

  .env-button--large {
    display: block;
    font-size: 2.5em;
    width: 100%;
  }

  .env-form-input {
    font-size: 2em;
  }
}
